<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto individual de Clase</title>
</head>
<header>
<img src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
<div>Lugar para poner la barra de búsqueda</div>
<div>Comprá en cuotas y sin tarjeta de crédito</div>
<ul>
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Tiendas Oficiales</a></li>
    <li><a href="#">Vender</a></li>
    <li><a href="#">Ayuda</a></li>
</ul>
<ul>
    <li><a href="#">Creá tu cuenta</a></li>
    <li><a href="#">Ingresá</a></li>
    <li><a href="#">Mis compras</a></li>
</ul>
</header>
<body>
    <section>
        <h3>Basado en tu última visita</h3>
        <img src="/img/img-cafetera-moulinex.jpg" alt= "imagen de la cafetera">
        <div>$6.770</div>
        <div>40% OFF</div>
        <h5>Cafetera Moulinex</h5>
        <img src="/img/img-macbook-pro-2019.jpg" alt= "imagen de MacBook">
        <div>$230.000</div>
        <div>20% off</div>
        <h5>MacBook Pro 2019</h5>
        <img src="/img/img-samsung-galaxy-s10.jpg" alt= "imagen del Samsung Galaxy">
        <div>$70.500</div>
        <div>10% off</div>
        <h5>Samsung Galaxy S10</h5>
        <img src="/img/img-tv-samsung-smart.jpg" alt= "imagen del SmartTv">
        <div>$23.200</div>
        <div>5% off</div>
        <h5>SmartTv Samsung 43"</h5>
    </section>
    <section>
        <h3>Ofertas</h3>
        <img src="/img/img-cafetera-moulinex.jpg" alt= "imagen de la cafetera">
        <div>$6.770</div>
        <div>40% off</div>
        <h5>Cafetera Moulinex</h5>
        <img src="/img/img-macbook-pro-2019.jpg" alt= "imagen de MacBook">
        <div>$230.000</div>
        <div>20% off</div>
        <h5>MacBook Pro 2019</h5>
        <img src="/img/img-samsung-galaxy-s10.jpg" alt= "imagen Samsung">
        <div>$70.500</div>
        <div>10% off</div>
        <h5>Samsung Galaxy S10</h5>
        <img src="/img/img-tv-samsung-smart.jpg" alt= "6imagen SmarTv">
        <div>$23.200</div>
        <div>5% off</div>
        <h5>SmartTv Samsung 43"</h5>
    </section>
</body>
<footer>
    <h6>Pagá con tarjeta o en efectivo</h6>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    <h6>Envío gratis desde $ 2.500</h6>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    <h6>Seguridad, de principio a fin</h6>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</footer>
</html>