/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

*/



*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family:'Roboto', sans-serif;
    font-size:12px;
    background-color: #ebebeb;
    display:block;
}

/* --------ENCABEZADO ------------*/
.header {
    background-color :#EAC926;
    padding: 20px;
    width: 100vw;
}

.header__top{
    display:block;
}
.header__top__top{
    display:flex;
    justify-content:space-between;
}
.header__top__top__logo{
    width:50vw;
    max-width: 250px; 
    margin-right: 30px;;
}
.header__top__top__search{
    width:50vw;
}
.header__top__top__search__bar{
    border:none;
    border-radius:3px;
    margin:0px;
    padding: 5px;
}
.header__top__top__search__button{
    background-color:white;
    border:none;
    border-radius:3px;
    margin:0px;
    padding:4px;
}
.header__top__mensaje-cuotas{
    font-weight: 250px;
    text-align: center;
    padding:10px;
    
}

.header__burger-menu{
    max-width: 50px;
    text-align: center;
    background-color:#1259c3;
    color:white;
    display:block;
    border-radius: 8px;
    padding:10px; 
    font-size: 2em;
    margin: auto;
}

.header__main-nav{
    display:none;
}
.header__main-nav ul{
    list-style: none;
}
.header__main-nav a{
    text-decoration:none;
    color: #222;
    display:inline-block;
    padding:5px 0;
}

.header__banner-home{
    width:100%;
    margin:0px;
    padding:0px;
}

/*--------- CUERPO --------------*/
.main{
    width: 90%;
    display:flex;
    flex-direction:column;
    margin:auto;
}
.main__titulares{
    font-size: 24px;
    margin: 20px 0px 5px 40px;
    color:#666;
}

main section article i{
    display: block;
    font-size: 16px;
    color:#39b54a;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.main__products{
    position: relative;
    justify-content: center;
}
.main__products__box{
    background-color:white;
    margin:10px;
    transition: all 450ms ;
    display:flex;
    flex-direction:column;
    position:relative;
}
.main__products__box__img{
    width:100%;
    padding:10px;
}
.main__products__box__pricing{
    display:flex;
    position: relative;
    border-top:solid 1px;
    border-color:#ebebeb;
    padding: 15px;
    
}
.main__products__box__pricing__precios{
    font-size: 18px;
    flex-grow:30%;
    margin:3px;
}
.main__products__box__pricing__descuentos{
    font-size: 16px;
    color:#39b54a;
    flex-grow:70%;
    margin: 0px;
    position: absolute;
    right: 30%;
}
.main__products__box__descripciones{
    font-size: 16px;
    opacity: 0;
    position: absolute;
    width:100%;
    height: 100%;
    transition: all 450ms;
}


/*------------ PIE DE PAGINA ---------*/
.footer{
    text-align: center;
    background-color: white;
    padding-top: 10px;
}
.footer__box__icon{
    color:#1259c3;
    font-size: 2em;
    margin:5px 0px;
}
.footer__box__titulares{
    font-weight: bold;
    font-size:14px;
}
.footer__box{
    margin:40px 60px;;
}
.footer__copyright{
    display:flex;
    flex-direction:row-reverse;
    justify-content: flex-end;
    font-size: 12px;
    padding:10px;
    margin-right: 20px;
    margin-top: 40px;;
}

/*-------- MOBILE XL --------*/
@media (min-width: 361px){
    /*--- CUERPO -----*/
    .main__products__box__img{
        max-width: 211px;
    }
    .main__products{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
}
/*-------- TABLE --------*/
@media (min-width: 768px){
    /*--- ENCABEZADO -----*/
    .header__top{
        display:flex;
        justify-content:space-between;
    }
    .header__top__top__search{
        align-items:center;
        max-height:25px;
    }
    .header__top__mensaje-cuotas{
        max-width: 350px;
        text-align: center;       
    }
    .header__burger-menu{
        display:none;
    }
    .header__main-nav{
        display:flex;
        justify-content:space-between;
        margin-top:20px;
        align-items:center;
    }
    .header__main-nav ul{
        display:flex;
    }
    .header__main-nav li{
        margin:5px 7px 0px;
    }
    /*--- CUERPO -----*/
    .main__products__box:hover{
        box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
    }
    
    .main__products__box__descripciones:hover{
    opacity: 1;
    display:flex;
    justify-content:flex-end;
    }
    .main__products{
        flex-wrap:nowrap;
    }
    .main__products__box__img{
        max-width: 700px;
    }
    /*------------ PIE DE PAGINA ---------*/
    .footer{
        display:flex;
        flex-direction:row;
        position:relative;
    }
    .footer__copyright{
        display:flex;
        flex-direction:row-reverse;
        justify-content: flex-end;
        font-size: 12px;
        padding:10px;
        margin-right: 20px;
        position: absolute;
        bottom: 0;
    }
}

/*-------- DESKTOP --------*/
@media (min-width: 1200px){
    /*--- ENCABEZADO -----*/
    .header__top, .header__main-nav{
        max-width:1200px;
        margin:auto;
    }
    .header__top__top__logo{
        width:250px; 
    }
    .header__main-nav{
        margin-top: 30px;
    }
    .header__main-nav li{
        margin:10px 10px 0px;
    }
    .header__main-nav a{
        font-size:16px;
    }
}